<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Space+Grotesk%3Awght%40400%3B500%3B700"
    />

    <title>Galileo Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-[#221111] dark group/design-root overflow-x-hidden" style='font-family: "Space Grotesk", "Noto Sans", sans-serif;'>
      <div class="flex items-center bg-[#221111] p-4 pb-2 justify-between">
        <div class="text-white flex size-12 shrink-0 items-center" data-icon="ArrowLeft" data-size="24px" data-weight="regular">
          <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
            <path d="M224,128a8,8,0,0,1-8,8H59.31l58.35,58.34a8,8,0,0,1-11.32,11.32l-72-72a8,8,0,0,1,0-11.32l72-72a8,8,0,0,1,11.32,11.32L59.31,120H216A8,8,0,0,1,224,128Z"></path>
          </svg>
        </div>
      </div>
      <div class="@container">
        <div class="@[480px]:px-4 @[480px]:py-3">
          <div
            class="bg-cover bg-center flex flex-col justify-end overflow-hidden bg-[#221111] @[480px]:rounded-xl min-h-80"
            style='background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 25%), url("https://cdn.usegalileo.ai/sdxl10/54e0dd97-0549-4057-a48b-6cacbf4389b9.png");'
          >
            <div class="flex p-4"><p class="text-white tracking-light text-[28px] font-bold leading-tight">Digital art</p></div>
          </div>
        </div>
      </div>
      <h1 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 text-left pb-3 pt-5">The Last of Us Part II - Ellie's Revenge</h1>
      <p class="text-white text-base font-normal leading-normal pb-3 pt-1 px-4">
        A 3D fanart of Ellie from The Last of Us Part II. I wanted to push the realism and create a dramatic lighting.
      </p>
      <div class="flex w-full grow bg-[#221111] @container py-3">
        <div class="w-full gap-1 overflow-hidden bg-[#221111] @[480px]:gap-2 aspect-[3/2] flex">
          <div
            class="w-full bg-center bg-no-repeat bg-cover aspect-auto rounded-none flex-1"
            style='background-image: url("https://cdn.usegalileo.ai/sdxl10/c9be3f55-6c24-492a-9cba-891153aa4cf7.png");'
          ></div>
        </div>
      </div>
      <h1 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 text-left pb-3 pt-5">Tools used</h1>
      <p class="text-white text-base font-normal leading-normal pb-3 pt-1 px-4">Zbrush, Maya, Arnold, Mari, Substance Painter, Xgen, Nuke, Photoshop</p>
      <h1 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 text-left pb-3 pt-5">Published 2 years ago</h1>
      <div class="flex flex-wrap gap-3 px-4 py-3">
        <div class="flex min-w-[111px] flex-1 basis-[fit-content] flex-col gap-2 rounded-lg border border-[#673234] p-3 items-start">
          <p class="text-white tracking-light text-2xl font-bold leading-tight">1000</p>
          <div class="flex items-center gap-2"><p class="text-[#ca9194] text-sm font-normal leading-normal">views</p></div>
        </div>
        <div class="flex min-w-[111px] flex-1 basis-[fit-content] flex-col gap-2 rounded-lg border border-[#673234] p-3 items-start">
          <p class="text-white tracking-light text-2xl font-bold leading-tight">500</p>
          <div class="flex items-center gap-2"><p class="text-[#ca9194] text-sm font-normal leading-normal">appreciations</p></div>
        </div>
        <div class="flex min-w-[111px] flex-1 basis-[fit-content] flex-col gap-2 rounded-lg border border-[#673234] p-3 items-start">
          <p class="text-white tracking-light text-2xl font-bold leading-tight">30</p>
          <div class="flex items-center gap-2"><p class="text-[#ca9194] text-sm font-normal leading-normal">comments</p></div>
        </div>
      </div>
      <div class="h-5 bg-[#221111]"></div>
    </div>
  </body>
</html>
