.navBarHeaderItem:hover {
  background-color: var(--color-bgCoverLighter);
  @apply rounded-lg;
}

.p-menubar-button {
  background-color: var(--color-bgCover);
  color: var(--color-textCover);
  @apply h-10 w-10;

  .p-icon {
    @apply h-8 w-8 p-1 rounded-lg;
  }

  svg:hover {
    background-color: var(--color-bgCoverLighter);
  }
}

.p-menubar-item.p-focus > .p-menubar-item-content {
  background-color: var(--color-bgCoverLighter);
}

.p-menubar-item:not(.p-disabled) > .p-menubar-item-content:hover {
  background-color: var(--color-bgCoverLighter);
}

.p-menubar-root-list {
  background-color: var(--color-bgCover);
  @apply p-0.5 rounded-b-lg;

  &:focus {
    @apply focus:outline-none;
    background-color: var(--color-bgCoverLighter);
  }
}

.navBarHeader {
  background-color: var(--color-bgCover);
  border-color: var(--color-bgCover);
  z-index: 2000;

  @apply rounded-none sticky top-0 justify-between h-16;

  @media (min-width: 740px) {
    @apply justify-center;
  }

  .p-menubar-item-content {
    @apply p-0.5;
  }

  .p-focus:hover {
    background-color: var(--color-bgCoverLighter);
  }
}

.navBarHeader.p-menubar-mobile-active {
  @apply rounded-b-none;
}

.navBarHeaderLabel {
  @apply ml-2;
  color: var(--color-textCover);
}

.ico-navBarHeader {
  font-size: 38px;
  color: var(--color-textCover);
}
