@import 'tailwindcss';
@import './var.css';
@import './styles/HomeView.css';
@import './styles/DocView.css';
@import './styles/NavBar.css';
@import './styles/Hero.css';
@import './styles/BlogView.css';
@import './styles/DocSidebar.css';
@import './styles/Page.css';

html,
body,
#root {
  margin: 0;
  @apply bg-[var(--couleur-primaire)] text-gray-300;
}

html {
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
  tab-size: 4;
}
#root {
  @apply h-screen;
}

[class^='ico-'],
[class*=' ico-'] {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.ico-template {
  font-size: 32px;
  color: black;
}

/* Styles pour les titres */
h1,
h2,
h3 {
  @apply font-bold text-white; /* Titres en gras et blancs */
}

/* Styles pour les liens */
a {
  @apply text-[var(--couleur-accent-2)] hover:text-[var(--couleur-accent-1)]; /* Liens roses avec survol jaune */
}

/* Styles pour les boutons */
.btn {
  @apply px-4 py-2 rounded-md font-medium;
  @apply bg-[var(--couleur-secondaire)] hover:bg-[var(--couleur-accent-1)]; /* Boutons gris avec survol jaune */
}

/* Styles pour les cartes */
.card {
  @apply bg-[var(--couleur-secondaire)] rounded-lg shadow-md p-6; /* Cartes grises avec ombre */
}

/* Effets de lumière */
.neon-text {
  @apply text-[var(--couleur-accent-3)] drop-shadow-lg; /* Texte bleu électrique avec effet de lumière */
}

.glow {
  @apply shadow-[var(--couleur-accent-2)]; /* Effet de lumière rose */
}

/* Styles spécifiques au thème Cyberpunk */
.cyberpunk-city {
  @apply bg-gradient-to-b from-[#1f2937] to-[#000000]; /* Dégradé de couleurs pour une ville sombre */
}

/* Styles spécifiques au thème Néonpunk */
.neon-lights {
  @apply bg-[var(--couleur-primaire)] backdrop-blur-md; /* Arrière-plan sombre avec effet de flou */
}
