:root {
  --color-bgCover: #1b203a;
  --color-bgCoverTransparent: #1b203a8a;
  --color-bgCoverLighter: #21284d;
  --color-textCover: #f2f4f3;
  --color-textCoverDarker: #b5bdb9;

  --md: 768px;

  --anime-timer: 0.3s;
  --anime-timerBurger: 0.3s;
  --spinInDeg: 180deg;
  --spinOutDeg: 0deg;

  --inPosition: 3%;
  --outPosition: -50%;

  --margin: 5%;
  --size: 80%;

  --couleur-primaire: #111827; /* Noir bleuté */
  --couleur-secondaire: #374151; /* Gris foncé */
  --couleur-accent-1: #facc15; /* Jaune néon */
  --couleur-accent-2: #ec4899; /* Rose fluo */
  --couleur-accent-3: #60a5fa; /* Bleu électrique */
}
